/* Placeholder style */
::-webkit-input-placeholder {
    font-family: 'SB Sans Text', arial, serif, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(38, 38, 38, 0.55);
}

/* Hide input arrows for type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hidden {
    display: none;
}
