/* Placeholder style */
::-webkit-input-placeholder {
    font-family: 'SB Sans Text', arial, serif, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.3px;
    color: rgba(38, 38, 38, 0.55);
}

.dark ::-webkit-input-placeholder {
    color: #FFFFFF;
}

/* Hide input arrows for type="number" */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hidden {
    display: none;
}

.dark input:focus {
    outline: none !important;
    border: 1px solid #FFFFFF;
}

input:focus {
    outline: none !important;
    border: 1px solid #000000;
}

body.dark {
    background-color: #1D2733;
}

.dark input {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 4px;
    color: #FFFFFF;
}

.dark .title {
    color: #FFFFFF;
}

.dark button {
    color: #FFFFFF;
}

.dark .description {
    color: #FFFFFF;
}

.error .entry {
    border-color: rgba(209, 77, 0, 1);
}

.entry {
    width: 100%;
    height: 54px;
    border: 1px solid rgba(38, 38, 38, 0.24);
    border-radius: 4px;
    font-size: 20px;
    padding: 5px;
    box-sizing: border-box;
    padding-left: 17px;
    appearance: none;
    -webkit-appearance: none;
}

